In [1]:
# Add src to Python path for imports
import sys
from pathlib import Path
notebook_dir = Path.cwd()
src_dir = notebook_dir.parent / "src"
if str(src_dir) not in sys.path:
    sys.path.insert(0, str(src_dir))

In [2]:
import pandas as pd
from iris_reddit_events import summarize
from iris_reddit_events.config import EVENTS_DIR

df_events = pd.read_parquet(EVENTS_DIR / "events_labeled.parquet")
df_sum = summarize.summarize_events(df_events)
df_sum.head(10)

,event_id,summary,num_posts,evidence_ids
0,0,Climate Summit: Nations Commit to Emission Red...,2,"[test007, test005]"
2,2,Technology Company Reveals Advanced AI System ...,2,"[test003, test001]"
1,1,University Researchers Develop New Battery Tec...,1,[test010]
3,3,Local Fire Department Saves Family From House ...,1,[test004]
4,4,New Smartphone Features Revolutionary Camera S...,1,[test006]
5,5,Electric Vehicle Sales Surge in Q4,1,[test009]
6,6,City Council Approves New Public Transit Plan,1,[test008]
7,7,AI Breakthrough: Tech Giant Unveils New Model,1,[test002]