In [1]:
# Add src to Python path for imports
import sys
from pathlib import Path
notebook_dir = Path.cwd()
src_dir = notebook_dir.parent / "src"
if str(src_dir) not in sys.path:
    sys.path.insert(0, str(src_dir))

In [2]:
from pathlib import Path
import pandas as pd

from iris_reddit_events.config import DATA_DIR, SUMMARIES_DIR
from iris_reddit_events.evaluate import run_rouge_eval

In [3]:
summaries_path = SUMMARIES_DIR / "summaries.parquet"
df_sys = pd.read_parquet(summaries_path)
df_sys.head()

,event_id,summary,num_posts,evidence_ids
0,0,Climate Summit: Nations Commit to Emission Red...,2,"[test007, test005]"
2,2,Technology Company Reveals Advanced AI System ...,2,"[test003, test001]"
1,1,University Researchers Develop New Battery Tec...,1,[test010]
3,3,Local Fire Department Saves Family From House ...,1,[test004]
4,4,New Smartphone Features Revolutionary Camera S...,1,[test006]

In [4]:
# Pick a few event_ids to annotate manually
df_sys[["event_id", "summary"]].head(10)

   event_id                                            summary
0         0  Climate Summit: Nations Commit to Emission Red...
2         2  Technology Company Reveals Advanced AI System ...
1         1  University Researchers Develop New Battery Tec...
3         3  Local Fire Department Saves Family From House ...
4         4  New Smartphone Features Revolutionary Camera S...
5         5                 Electric Vehicle Sales Surge in Q4
6         6      City Council Approves New Public Transit Plan
7         7      AI Breakthrough: Tech Giant Unveils New Model

In [ ]:
event_id,reference
0,"<your human-written summary for event 0>"
3,"..."
7,"..."

In [5]:
gold_path = DATA_DIR / "gold_summaries.csv"
df_eval, metrics = run_rouge_eval(gold_path)

Evaluated 2 event summaries with ROUGE.
rouge1: P=0.478  R=0.431  F1=0.447
rouge2: P=0.216  R=0.195  F1=0.202
rougeL: P=0.401  R=0.347  F1=0.367

In [6]:
df_eval.head(10)

,event_id,reference,system
0,0,World leaders meet at climate summit to commit...,Climate Summit: Nations Commit to Emission Red...
1,2,Major technology company announces breakthroug...,Technology Company Reveals Advanced AI System ...